.homepage {
    text-align: center;
    max-width: 100%;
}

.homepage img {
    max-width:600px;
}

.homepage h2 {
    color: #6e6e73;
    font-size: 1.2rem;
    border: none;
}

.homepage .x-imgs {
    display: flex;
    margin: auto;
    overflow-x: auto;
    width: 600px;
}

.homepage .x-imgs img{
    max-width: 600px;
}

.homepage .desc {
    color: #999;
}
